.wrapper {
	/* margin: 0 auto; */

	/* min-width: 320px; */
	/* min-height: 100vh; */
	/* display: flex; */
	/* flex-direction: column; */
	/* padding: 0 20px; */
	/* background-color: red; */
}

.header {
	margin: 0 auto;

	background-color: rgb(77, 77, 112);
	height: 57px;
	line-height: 57px;
	text-align: center;
	color: white
}

/* .statistic_menu {} */

.statistic_amounts {
	margin: 0 auto;

	background-color: rgb(77, 77, 112);
	border-radius: 0 0 0 100px;
	height: 130px;
	line-height: 130px;
	text-align: center;
	color: white
}

.chart {
	background-color: rgb(77, 77, 112);
	height: 300px;
	line-height: 300px;
	text-align: center;
	color: white
}


/* @media (min-width: 768px) {
	.wrapper {
		margin: 0 auto;
		width: 768px;
	}
} */
