.categoriesWrap {
  width: 320px;
  margin: 0 auto;
}

.categoryList {
  display: flex;
  flex-wrap: wrap;
  /* border-bottom: 2px solid red 10px; */
  border: 80%;
}

.categoryWrapper {
  display: flex;
  flex-direction: column;
  width: 75px;
  align-items: center;
  margin-right: 40px;
  padding-bottom: 50px;
 
}

.categoryWrapper:nth-child(3n + 3) {
  margin-right: 0px;
}

.categoryWrapper:nth-child(n + 10) {
  margin-left: 33px;
}

.categoryAmount {
  font-family: Roboto, sans-serif;

  font-size: 11px;
  line-height: 30px;
  color: #52555f;
  margin: 0 auto;
}

.svgWrapper {
  width: 58px;
  height: 47px;
  border-radius: 30px;
  position: relative;
  background-color: #f4f6fb;
}

.buttonWrapper {
  width: 280px;
  height: 40px;
  background-color: #f4f6fb;
  border-radius: 30px;
}

.selected {
  background-color: #ffd9c0;
  width: 58px;
  height: 47px;
  border-radius: 30px;
  position: relative;
}

.categoryIcon {
  width: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.categoryName {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 9px;
  color: #52555f;
  text-transform: uppercase;
  margin-top: 12px;
}

@media (min-width: 768px) {
  .categoriesWrap {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    width: 688px;
    height: 335px;
    box-shadow: 7px 12.124px 20px 0px rgba(179, 185, 200, 0.4);
    margin-bottom: 40px;
  }

  .categoryAmount {
    padding-top: 18px;
  }

  .categoryWrapper {
    margin-right: 30px;
  }

  .categoryWrapper:nth-child(3n + 3) {
    margin-right: auto;
  }

  .categoryWrapper:nth-child(n + 10) {
    margin-left: auto;
  }

  .categoryWrapper:nth-child(1) {
    margin-left: 40px;
  }

  .categoryWrapper:nth-child(6) {
    margin-right: 40px;
  }

  .categoryWrapper:nth-child(7) {
    margin-left: 90px;
  }

  .categoryWrapper:nth-child(11) {
    margin-right: 90px;
  }
}

@media (min-width: 1280px) {
  .categoriesWrap {
    border-radius: 20px;
    width: 945px;
    height: 350px;
  }

  .categoryWrapper {
    padding-bottom: 10px;
  }

  .categoryWrapper:nth-child(1) {
    margin-left: 170px;
  }

  .categoryWrapper:nth-child(6) {
    margin-right: 170px;
  }

  .categoryWrapper:nth-child(7) {
    margin-left: 220px;
  }

  .categoryWrapper:nth-child(11) {
    margin-right: 220px;
  }

  .categoryAmount {
    padding-top: 50px;
  }
}
