.tableScroll::-webkit-scrollbar {
  width: 6px;
}

.tableScroll::-webkit-scrollbar-track {
  background: transparent;
}

.tableScroll::-webkit-scrollbar-thumb {
  background: #ff6c00;
  border-radius: 10px;
}

.tableScroll::-webkit-scrollbar-thumb:hover {
  background: #e6660c;
}

.tableWrapper {
  height: auto;
  position: relative;
}

.tableScroll {
  width: 295px;
  height: 323px;
  padding-left: 1px;
  padding-top: 1px;
  margin-bottom: 25px;
  overflow: auto;
  padding-bottom: 1px;
}

.tableWrapper .table {
  height: 320px;
}

.tableWrapper .table .thead .th .text {
  position: absolute;
  top: -20px;
  /* z-index: 2; */
  width: 35%;
  border: 1px solid red;
}

.table .thead .th {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  height: 45px;
  border-radius: 0px;
}

.table {
  height: 400px;
  width: 286px;
  font-size: 14px;
  text-align: center;
  border-collapse: collapse;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #959595;
  color: #323232;
}

.thead {
  font-size: 15px;
  height: 45px;
}

.table .thead .th {
  text-transform: uppercase;
  background: #f4f6fb;
}

.tbody {
  text-align: left;
}

.row {
  border-top: 1px solid #959595;
  display: flex;
  justify-content: space-between;
  height: 55px;
}

.price {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  margin-top: 19px;
  color: #ff6c00;
  margin-bottom: 15px;
  background: white;
}

.cover {
  width: 65px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 5px;
}

.discription {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  padding-bottom: 5px;
  margin: 0;
  display: block;
  color: rgba(82, 85, 95, 255);
}

.date {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  display: block;
  margin-right: 15px;
  color: rgba(138, 140, 149, 255);
}

.categore {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  margin-top: 26px;
  /* margin-right: 30px; */
  color: rgba(138, 140, 149, 255);
}

.btn {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 15px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-image: url(../../assets/icons/IconDelete.png);
  background-position: bottom;
}

.btn:hover {
  background-color: #f5f7fa;
  background-position: bottom;
  border-radius: 50%;
}

.th {
  background: white;
}

.td {
  border-top: 1px solid #959595;
  background: white;
}

.table .td:first-child {
  border-bottom-left-radius: 20px;
}

.table .td:last-child {
  border-bottom-right-radius: 20px;
}

.table .th:last-child {
  border-top-right-radius: 5px;
}

.table .th:first-child {
  border-top-left-radius: 5px;
}

.table .tbody .td {
  border-top: 1px solid #959595;
}

.overModile {
  /* width: 100px; */
  /* display: flex; */
  justify-content: space-between;
}

@media (min-width: 768px) {
  .tableWrapper {
    position: relative;
  }

  .tableScroll {
    width: 680px;
    height: 451px;
    /* padding: 10px; */
    overflow: auto;
  }

  .tableWrapper table {
    width: 669px;
  }

  .tableWrapper .table .thead .th .text {
    position: absolute;
  }

  .table .thead .th {
    background: #f4f6fb;
    border-radius: 4px;
  }

  .table .th:last-child {
    border-top-right-radius: 4px;
  }

  .table .th:first-child {
    border-top-left-radius: 4px;
  }

  .table {
    width: 700px;
    font-size: 14px;
    text-align: left;
    border-collapse: collapse;
    border-radius: 5px;
    padding-bottom: 5px;
    box-shadow: 0 0 0 1px #959595;
    color: #323232;
  }

  .thead {
    font-size: 15px;
  }

  .price {
    border-top: 1px solid #959595;
    width: 134px;
  }

  .tbody {
    overflow: scroll;
    height: 451px;
  }

  .tbody .tr {
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(82, 85, 95, 255);
  }

  .th {
    padding: 10px 8px;
    background: white;
  }

  .table .th:first-child {
    border-top-left-radius: 20px;
  }

  .table .th:last-child {
    border-top-right-radius: 20px;
  }

  .td {
    border-top: 1px solid #959595;
    padding: 8px;
    background: white;
  }

  .btn {
    margin-right: 30px;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    margin-top: -5px;
  }

  .btn:hover {
    background-color: #f5f7fa;
    background-position: bottom;
    border-radius: 50%;
  }

  .btn {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url(../../assets/icons/IconDelete.png);
    background-position: bottom;
  }

  .price {
    color: #ff6c00;
  }

  .table .th:last-child {
    border-top-right-radius: 5px;
  }

  .table .th:first-child {
    border-top-left-radius: 5px;
  }

  .table .td:first-child {
    border-bottom-left-radius: 0px;
  }


  .overlay {
    display: flex;
    justify-content: space-between;
  }
}


@media (min-width: 1280px) {
  .tableScroll {
    width: 770px;
    height: 502px;
  }

  .tableWrapper .table {
    height: 504px;
    width: 760px;
  }

  .table .th:last-child {
    border-top-right-radius: 5px;
  }

  .table .th:first-child {
    border-top-left-radius: 5px;
  }

  .btn:hover {
    background-color: #f5f7fa;
    background-position: bottom;
    border-radius: 50%;
  }
  

  .overlayDesc {
    display: flex;
    justify-content: space-between;
  }

  .tbody .tr {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(82, 85, 95, 255);
  }
}