.barContainer {
    /* margin: 0 auto; */
    width: 500px;
    height: 200px;
}

/* width: '688px',
height: '350px',
margin: '0 auto',
boxShadow: '7px 12.124px 20px 0px rgba(179, 185, 200, 0.4)',
backgroundColor: 'rgb(255, 255, 255)',
borderRadius: '20px',
padding: '10px',
marginBottom: '40px', */