:root {
  --color-white: #ffffff;
  --color-orange: #ff6c00;
  /* --color-orange2: #ff812d; */

  --bg-color-white: #ffffff;
  --bg-color-light-blue: #f4f6fb;
  /* --bg-color-light-blue2: #f5f7fa; */

  --text-color-black: #000000;
  --text-color-white: #ffffff;


}
