.header {
  padding-top: 7px;
  padding-bottom: 4px;
  padding-left: 5px;
}

.header_logo {
  width: 164px;
  height: 34px;
}

.header_user_name {
font-family: "Roboto", sans-serif;
font-size: 14px;
color: #52555f;
/* position: relative; */
}

/* .header_user_name::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  display: block;
  width: 20px;
  height: 3px;
  background-color: #f38181;
  opacity: 0

} */

.header_user_logout {
font-family: "Roboto", sans-serif;
font-size: 14px;
color: #52555f;
background-color: transparent;
border: none;
margin-left: 96px;

}


.header_user_logout:hover {
  border-bottom: 1px solid #52555f;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_user {
  min-width: 190px;
  min-height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}



@media (min-width: 768px) {

  .header {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
  }

  .header_user_logout {
    margin-left: 42px;
  }
}

@media (min-width: 1280px) {
  .header_user_logout {
    margin-left: -33px;
  }

}